{% extends "entries/base.html" %}

{% block content %}
<!-- Blog Entries Column -->
<div class="col-md-8">

    <h1 class="my-4">Artigos
        <!-- <small>Secondary Text</small> -->
    </h1>

    {% for entry in blog_entries %}
    <!-- Blog Post -->
    <div class="card mb-4">
        <!-- <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap"> -->
        <div class="card-body">
            <h2 class="card-title">{{ entry.entry_title }}</h2>
            <p class="card-text">{{ entry.entry_text|truncatechars:100 }}</p>
            <a href="#" class="btn btn-primary">Read More &rarr;</a>
        </div>
        <div class="card-footer text-muted">
            Posted on {{ entry.entry_date }} by
            <a href="#">{{ entry.entry_author }}</a>
        </div>
    </div>
    {% endfor %}

    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
        </li>
    </ul>

</div>
{% endblock %}